<section
  class="flex md:flex-row flex-col gap-4 pt-16 pb-10 md:py-10"
  id="about-us"
>
  <div class="flex-1 flex flex-col gap-4">
    <div class="flex flex-col gap-2">
      <div class="animate-pulse text-local_icon flex gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-star"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
          ></path></svg
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-star"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
          ></path></svg
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-star"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
          ></path></svg
        >
      </div>
      <h5 class="text-local_subtitle text-sm">Sobre Nosotros</h5>
      <h3 class="text-local_title text-xl md:text-3xl font-bold">
        Somos una empresa de servicios de reparación de equipos electrónicos
      </h3>
    </div>

    <p class="text-local_text text-sm text-pretty">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis quas, ad
      est quisquam alias perferendis ducimus consequuntur voluptate deserunt ut
      minus itaque provident voluptates nostrum in minima, voluptas architecto
      ipsum?
    </p>

    <div>
      <h3 class="text-local_title text-xl md:text-2xl">Richard Alvarez</h3>
      <span class="text-local_subtitle text-sm"
        >Reparador de equipos electrónicos</span
      >

      <div class="mt-2 w-40">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Firma_Len%C3%ADn_Moreno_Garc%C3%A9s.png"
          alt="Firma de Richard Alvarez"
        />
      </div>
    </div>

    <div class="flex gap-4 justify-between flex-wrap">
      <div
        class="flex-1 flex w-full hover:bg-gradient-to-r from-local_background_3 to-local_background_2 rounded-md px-2 transition-colors"
      >
        <button id="button-whatsapp" class="flex items-center gap-2 w-full">
          <div
            class="flex gap-2 bg-local_accent rounded-full p-2 text-local_text_2 font-bold"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path><path
                d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
              ></path></svg
            >
          </div>

          <div class="text-left">
            <p class="text-local_subtitle text-sm">Escríbenos</p>
            <p class="text-local_text">317 878 4022</p>
          </div>
        </button>
      </div>

      <div
        class="flex-1 flex items-center gap-2 rounded-md px-4 py-2 bg-gradient-to-r from-local_background_2 to-local_background_3 text-local_text_2 font-semibold"
      >
        <span class="text-6xl">5</span>
        <p>Años de <br /> experiencia</p>
      </div>
    </div>
  </div>

  <div class="flex-1">
    <div>
      <lite-youtube videoid="NKdMe4gd8PM"></lite-youtube>
    </div>
  </div>
</section>

<script>
  const $ = (selector: string) => document.querySelector(selector)

  const buttonContact = $('#button-whatsapp')

  if (buttonContact instanceof HTMLButtonElement) {
    buttonContact.addEventListener('click', sendMessage)
  }

  function sendMessage() {
    const message = 'Buenas, quiero realizar esta petición desde la web: \n'
    window.open(
      `https://api.whatsapp.com/send?phone=+573178784022&text=${encodeURIComponent(message)}`
    )
  }
</script>
