---
import { SectionFrames } from '@homeComponentsIslands/SectionFrames'
---

<section class="flex flex-col gap-12 md:py-10 pt-16 pb-10" id="frames-top">
  <div class="w-full">
    <h2 class="text-4xl font-bold text-center !text-local_title">
      Cuadros Personalizados
    </h2>
    <p class="text-center text-local_text">Encarga tu cuadro personalizado</p>
  </div>

  <SectionFrames client:load />
</section>
