<section
  class="relative gap-4 lg:gap-0 flex flex-col-reverse justify-center items-center lg:flex-row h-full min-h-[850px]"
>
  <div
    class="lg:flex-1 flex flex-col gap-4 items-center lg:items-start justify-center lg:pb-32 max-w-xl"
  >
    <h2
      class="text-3xl lg:text-5xl font-bold text-local_title text-pretty lg:text-left text-center"
    >
      Brindamos las mejores <span class="text-local_accent">reparaciones</span> para
      tus dispositivos.
    </h2>

    <p class="text-local_text lg:text-left text-center text-sm lg:text-base">
      Trae tus dispositivos a nuestra oficina para que podamos repararlos de
      forma rápida y eficiente.
    </p>
  </div>

  <div class="lg:flex-1 flex items-center">
    <img
      class="max-w-[500px] lg:max-w-2xl w-full"
      src="https://img.freepik.com/foto-gratis/bohemio-hombre-pulgar-arriba_1368-3700.jpg?t=st=1726082455~exp=1726086055~hmac=0ecc605f1d0ceba9e795bd188001281401be98bba6bc74e002be7aab7490168a&w=996"
      alt=""
    />
  </div>
</section>
