---
import type { ProductData } from '@/env'

import { APIProducts } from '@/services/API'

import { SectionProducts } from '@homeComponentsIslands/SectionProducts'

const productData: ProductData = (await APIProducts.getProducts()) || []
---

<section
  class="flex flex-col gap-6 md:pt-10 pt-16 min-h-screen"
  id="products-top"
>
  <div class="w-full">
    <h2 class="text-4xl font-bold text-center !text-local_title">
      Productos a la venta
    </h2>
    <p class="text-center text-local_text">
      Observa el producto que mas te guste y pide información por el via
      WhatsApp para su compra
    </p>
  </div>

  <SectionProducts client:load productData={productData} />
</section>
