---
import { SearchProducts } from "@components/allProducts/componentsIslands/SearchProducts"
import { TextoButton } from "@components/allProducts/componentsIslands/TextoButton"

type NavLink = {
  name: string
  href: string
}

const navLinks: NavLink[] = [
  {
    name: 'Todos los Productos',
    href: '/all_products',
  },
]
---

<header
  id="header"
  class="max-w-screen-xl mx-auto px-0 xl:p-0 flex flex-col mb-4"
>
  <section
    class="justify-between pt-4 pb-2 hidden px-4 xl:px-0 mt-14 md:mt-0 sm:flex"
  >
    <div class="flex items-center gap-2 text-local_text">
      <p class="flex gap-1 text-sm items-center">
        <span class="text-local_accent">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="icon icon-tabler icons-tabler-filled icon-tabler-map-pin"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M18.364 4.636a9 9 0 0 1 .203 12.519l-.203 .21l-4.243 4.242a3 3 0 0 1 -4.097 .135l-.144 -.135l-4.244 -4.243a9 9 0 0 1 12.728 -12.728zm-6.364 3.364a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z"
            ></path>
          </svg>
        </span>
        Puerto Asís Putumayo
      </p>

      <p class="flex gap-1 text-sm items-center">
        <span class="text-local_accent">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="icon icon-tabler icons-tabler-filled icon-tabler-mail"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M22 7.535v9.465a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-9.465l9.445 6.297l.116 .066a1 1 0 0 0 .878 0l.116 -.066l9.445 -6.297z"
            ></path><path
              d="M19 4c1.08 0 2.027 .57 2.555 1.427l-9.555 6.37l-9.555 -6.37a2.999 2.999 0 0 1 2.354 -1.42l.201 -.007h14z"
            ></path></svg
          >
        </span>

        richar@gmail.com
      </p>
    </div>

    <div class="flex items-center gap-2 text-local_icon_2">
      <a href="#" target="_blank" rel="noopener noreferrer">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="icon icon-tabler icons-tabler-filled icon-tabler-brand-facebook"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M18 2a1 1 0 0 1 .993 .883l.007 .117v4a1 1 0 0 1 -.883 .993l-.117 .007h-3v1h3a1 1 0 0 1 .991 1.131l-.02 .112l-1 4a1 1 0 0 1 -.858 .75l-.113 .007h-2v6a1 1 0 0 1 -.883 .993l-.117 .007h-4a1 1 0 0 1 -.993 -.883l-.007 -.117v-6h-2a1 1 0 0 1 -.993 -.883l-.007 -.117v-4a1 1 0 0 1 .883 -.993l.117 -.007h2v-1a6 6 0 0 1 5.775 -5.996l.225 -.004h3z"
          ></path></svg
        >
      </a>

      <a href="#" target="_blank" rel="noopener noreferrer">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
          ></path><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"
          ></path><path d="M16.5 7.5l0 .01"></path></svg
        >
      </a>
    </div>
  </section>

  <section
    class="flex items-center justify-between gap-2 h-16 md:relative fixed z-50 w-full px-4 xl:px-0 bg-local_background"
  >
    <a href="/" class="text-local_title">
      <h1 class="text-xl font-bold">Now Technology</h1>
    </a>

    <SearchProducts client:load />

    <nav class="hidden md:flex"></nav>

    <nav
      id="nav"
      class="hidden md:hidden absolute top-16 right-0 left-0 bg-local_background_2 z-50 w-full text-right"
    >
    </nav>

    <div class="flex md:hidden">
      <button id="button-toggle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M4 6l16 0"></path><path d="M4 12l16 0"></path><path
            d="M4 18l16 0"></path></svg
        >
      </button>
    </div>
  </section>

  <section class="block sm:hidden pt-20 px-4 xl:px-0">
    <button
      id="button-open"
      class="bg-local_background_4 px-6 py-2 rounded-full font-medium"
    >
      Filtros
    </button>

    <button class="pl-4">
      <TextoButton client:load />
    </button>
  </section>
</header>

<script>
  const $ = (selector: string) => document.querySelector(selector)
  const $$ = (selector: string) => document.querySelectorAll(selector)

  const buttonToggle = $('#button-toggle')
  const nav = $('#nav') as HTMLElement
  const navItems = $$('.nav-item') as NodeListOf<HTMLElement>

  navItems.forEach((item: HTMLElement) => {
    item.addEventListener('click', toggleMenu)
  })

  if (buttonToggle instanceof HTMLButtonElement) {
    buttonToggle.addEventListener('click', toggleMenu)
  }

  function toggleMenu() {
    if (nav.classList.contains('hidden')) {
      nav.classList.remove('hidden')
    } else {
      nav.classList.add('hidden')
    }
  }

  const buttonContact = $('#button-contact')

  if (buttonContact instanceof HTMLButtonElement) {
    buttonContact.addEventListener('click', sendMessage)
  }

  function sendMessage() {
    const message = 'Buenas, quiero realizar esta petición desde la web: \n'
    window.open(
      `https://api.whatsapp.com/send?phone=+573178784022&text=${encodeURIComponent(message)}`
    )
  }

  const buttonOpen = $('#button-open')
  const buttonParent = $('#button-close')?.parentElement

  window.addEventListener('resize', () => {
    if (window.innerWidth > 668) {
      buttonParent?.classList.remove('translate-x-0')
      buttonParent?.classList.add('-translate-x-full')
    }
  })

  function asideOpen() {
    buttonParent?.classList.remove('-translate-x-full')
    buttonParent?.classList.add('translate-x-0')
  }

  buttonOpen?.addEventListener('click', asideOpen)
</script>
