---
import InfoHeader from '@components/general/InfoHeader.astro'
import { SearchProducts } from '@components/allProducts/componentsIslands/SearchProducts'
import { TextoButton } from '@components/allProducts/componentsIslands/TextoButton'
---

<header
  id="header"
  class="max-w-screen-xl mx-auto px-0 xl:p-0 flex flex-col mb-4"
>
  <InfoHeader />

  <section
    class="flex items-center justify-between gap-4 h-16 md:relative fixed z-50 w-full px-4 xl:px-0 bg-local_background"
  >
    <a href="/" class="text-local_title">
      <h1 class="text-xl font-bold w-max">Now Technology</h1>
    </a>

    <SearchProducts client:load />
  </section>

  <section class="flex justify-between sm:hidden pt-20 px-4 xl:px-0">
    <button
      id="button-open"
      class="bg-local_background_4 px-6 py-2 rounded-full font-medium"
    >
      Filtros
    </button>

    <button>
      <TextoButton client:load />
    </button>
  </section>
</header>

<script>
  const $ = (selector: string) => document.querySelector(selector)

  const buttonOpen = $('#button-open')
  const buttonParent = $('#button-close')?.parentElement

  window.addEventListener('resize', () => {
    if (window.innerWidth > 668) {
      buttonParent?.classList.remove('translate-x-0')
      buttonParent?.classList.add('-translate-x-full')
    }
  })

  function asideOpen() {
    buttonParent?.classList.remove('-translate-x-full')
    buttonParent?.classList.add('translate-x-0')
  }

  buttonOpen?.addEventListener('click', asideOpen)
</script>
