:root {
  --accent: #22c55e;
  --title: #000000;
  --title-2: #ffffff;
  --subtitle: #303030;
  --text: #2e2e2e;
  --text-2: #ffffff;
  --button: var(--accent);
  --icon: var(--accent);
  --icon-2: #1b1b1b;
  --icon-3: #ffffff;
  --background: #ffffff;
  --background-2: var(--accent);
  --background-3: #1cb5fc;
  --background-4: #e2e2e2;
  --background-5: #cccccc;
}

.dark {
  --accent: #000fff;
  --title: #ffffff;
  --subtitle: #ffffff;
  --text: #ffffff;
  --button: var(--accent);
  --icon: var(--accent);
  --background: #000000;
}

html {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
