---
import { SliderProduct } from '../componentsIslands/SliderProcut'
import { InformationProduct } from '@product/componentsIslands/InformationProduct'

const { id } = Astro.props
---

<section class="flex flex-col md:flex-row gap-4 md:h-[70vh] pb-10">
  <SliderProduct id={id} client:load />

  <InformationProduct client:load />
</section>
