---
import { SliderProduct } from '../componentsIslands/SliderProcut'
import InformationProduct from '@product/components/InformationProduct.astro'
---

<section class="flex flex-col md:flex-row gap-4">
  <SliderProduct />

  <InformationProduct />
</section>
