---
import Spinner from '@components/general/Spinner.astro'

const { longitude = 2, fig } = Astro.props

const large = Array(longitude)
large.fill('')
---

{
  fig ? (
    <div id="frames" class="min-h-[400px]">
      {large.map(() => (
        <article class="relative w-full h-full aspect-square bg-gray-400 overflow-hidden grid place-content-center">
          <Spinner />
        </article>
      ))}
    </div>
  ) : (
    <div class="container-compare">
      {large.map(() => (
        <div class="relative w-full h-full aspect-video bg-gray-400 overflow-hidden grid place-content-center">
          <Spinner />
        </div>
      ))}
    </div>
  )
}

<style>
  .container-compare {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
    gap: 1rem;
    min-height: 400px;
  }

  #frames {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    gap: 20px;
    justify-content: space-evenly;

    @media (width <= 450px) {
      grid-template-columns: repeat(auto-fit, 100%);
      grid-auto-rows: 300px;
      gap: 10px;
    }
  }
</style>
