---
import ContainerCompare from '@components/home/components/ContainerCompare.astro'
import GenericContainerCompare from '@components/home/components/GenericContainerCompare.astro'
---

<section
  id="fixes"
  class="flex flex-col gap-12 md:py-10 pt-16 pb-10"
  id="frames-top"
>
  <div class="w-full">
    <h2 class="text-4xl font-bold text-center !text-local_title">
      Reparaciones y Mejoras
    </h2>
    <p class="text-center text-local_text">
      El mejor servio de reparaciones y mejoras en Putumayo
    </p>
  </div>

  <ContainerCompare server:defer>
    <GenericContainerCompare slot="fallback" />
  </ContainerCompare>
</section>
