<footer class="bg-local_background_4 flex flex-col" id="ubication">
  <section
    class="max-w-screen-xl w-full mx-auto px-4 xl:px-0 grid grid-cols-1 md:grid-cols-2 gap-4 py-10"
  >
    <div class="flex flex-col gap-4">
      <a href="/" class="text-local_title">
        <h2 class="text-xl font-bold">Now Technology</h2>
      </a>

      <p class="text-local_text text-sm text-pretty">
        Servicio técnico especializado, venta de celulares, accesorios,
        repuestos y cuadros personalizados. ¡Calidad y confianza en un solo
        lugar!
      </p>

      <!-- <div class="flex gap-x-4 gap-y-1 flex-wrap">
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center gap-2 underline hover:text-local_accent transition-colors"
        >
          Información de garantía
        </a>
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center gap-2 underline hover:text-local_accent transition-colors"
        >
          Política de privacidad
        </a>
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center gap-2 underline hover:text-local_accent transition-colors"
        >
          Condiciones de uso
        </a>
      </div> -->

      <div class="flex flex-col gap-4">
        <section>
          <h3 class="text-lg font-bold text-local_subtitle">Redes Sociales</h3>

          <div class="flex items-center gap-6 text-local_icon_2">
            <a
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              class="hover:text-local_icon mt-4 transition-colors scale-150"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="icon icon-tabler icons-tabler-filled icon-tabler-brand-facebook"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M18 2a1 1 0 0 1 .993 .883l.007 .117v4a1 1 0 0 1 -.883 .993l-.117 .007h-3v1h3a1 1 0 0 1 .991 1.131l-.02 .112l-1 4a1 1 0 0 1 -.858 .75l-.113 .007h-2v6a1 1 0 0 1 -.883 .993l-.117 .007h-4a1 1 0 0 1 -.993 -.883l-.007 -.117v-6h-2a1 1 0 0 1 -.993 -.883l-.007 -.117v-4a1 1 0 0 1 .883 -.993l.117 -.007h2v-1a6 6 0 0 1 5.775 -5.996l.225 -.004h3z"
                ></path></svg
              >
            </a>

            <a
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              class="hover:text-local_icon mt-4 transition-colors scale-150"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
                ></path><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"
                ></path><path d="M16.5 7.5l0 .01"></path></svg
              >
            </a>
          </div>
        </section>

        <section>
          <h3 class="text-lg font-bold text-local_title">Localización</h3>

          <div class="flex items-center gap-2 mt-4 text-local_icon_2">
            <svg
              width="24"
              height="24"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M16 2.66675C10.84 2.66675 6.66669 6.84008 6.66669 12.0001C6.66669 19.0001 16 29.3334 16 29.3334C16 29.3334 25.3334 19.0001 25.3334 12.0001C25.3334 6.84008 21.16 2.66675 16 2.66675ZM16 15.3334C15.116 15.3334 14.2681 14.9822 13.643 14.3571C13.0179 13.732 12.6667 12.8841 12.6667 12.0001C12.6667 11.116 13.0179 10.2682 13.643 9.64306C14.2681 9.01794 15.116 8.66675 16 8.66675C16.8841 8.66675 17.7319 9.01794 18.357 9.64306C18.9822 10.2682 19.3334 11.116 19.3334 12.0001C19.3334 12.8841 18.9822 13.732 18.357 14.3571C17.7319 14.9822 16.8841 15.3334 16 15.3334Z"
                fill="currentColor"></path></svg
            >

            <a
              href="https://maps.app.goo.gl/VxfpQpZdFd9BUYUbA"
              target="_blank"
              class="text-sm text-local_text hover:text-local_accent font-semibold"
              >Cra. 20 #8b30, Popayán, Cauca</a
            >
          </div>
        </section>

        <section>
          <h3 class="text-lg font-bold text-local_title">Gmail</h3>

          <div class="flex items-center gap-2 mt-4 text-local_icon_2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="icon icon-tabler icons-tabler-filled icon-tabler-mail"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M22 7.535v9.465a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-9.465l9.445 6.297l.116 .066a1 1 0 0 0 .878 0l.116 -.066l9.445 -6.297z"
              ></path><path
                d="M19 4c1.08 0 2.027 .57 2.555 1.427l-9.555 6.37l-9.555 -6.37a2.999 2.999 0 0 1 2.354 -1.42l.201 -.007h14z"
              ></path></svg
            >

            <p class="text-sm text-local_text font-semibold">
              richardalvarez2590@gmail.com
            </p>
          </div>
        </section>
      </div>
    </div>

    <div class="">
      <section
        id="map"
        class="h-40 md:h-96 bg-local_background_tertiary rounded-md mb-4 !z-40"
      >
      </section>
    </div>
  </section>

  <section class="max-w-screen-xl mx-auto px-4 xl:px-0 w-full pb-4">
    <a
      href="https://portfolio-igrisdev.vercel.app/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-local_icon_2 hover:text-local_icon_2 transition-colors flex gap-1 group w-max"
    >
      <p class="text-local_text">Desarrollado por</p>
      <span class="group-hover:text-local_accent">igrisdev</span>
    </a>
  </section>
</footer>

<script type="module">
  var map = L.map('map').setView([2.4418883220175216, -76.6189952639966], 14)

  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution:
      '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  }).addTo(map)

  L.marker([2.4418883220175216, -76.6189952639966])
    .addTo(map)
    .bindPopup('Now Technology 🌎')
    .openPopup()
</script>
