---
import Spinner from '@components/general/Spinner.astro'
---

<div class="container-compare">
  <div
    class="relative bg-gray-400 w-full h-full aspect-video overflow-hidden grid place-content-center"
  >
    <Spinner />
  </div>
  <div
    class="relative bg-gray-400 w-full h-full aspect-video overflow-hidden grid place-content-center"
  >
    <Spinner />
  </div>
  <div
    class="relative bg-gray-400 w-full h-full aspect-video overflow-hidden grid place-content-center"
  >
    <Spinner />
  </div>
</div>

<style>
  .container-compare {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 500px), 1fr));
    gap: 1rem;
    min-height: 400px;
  }
</style>
