---

import type { FrameData } from '@/env'

---
<div class='min-h-[400px]'>
    {/* {frames.map(({ title, image }, index) => ( */}
    <div class="fixes">
      <img class="w-full h-full object-cover" src="hola" alt="hola" />
      <img class="w-full h-full object-cover" src="hola" alt="hola" />
    </div>
    {/* ))} */}
</div >
