.swiper {
  padding: 0 50px 50px 50px;
}

#products {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-auto-rows: auto;
  gap: 20px;
  justify-content: space-evenly;

  @media (width <= 450px) {
    grid-template-columns: repeat(auto-fit, 100%);
    gap: 10px;
  }
}

#frames {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  gap: 20px;
  justify-content: space-evenly;

  @media (width <= 450px) {
    grid-template-columns: repeat(auto-fit, 100%);
    grid-auto-rows: 300px;
    gap: 10px;
  }
}
