---
import InfoHeader from '@components/general/InfoHeader.astro'
---

<header id="header" class="max-w-screen-xl mx-auto px-0 xl:p-0 flex flex-col">
  <InfoHeader />

  <section
    class="flex items-center justify-between gap-2 h-16 md:relative fixed z-50 w-full px-4 xl:px-0 bg-local_background"
  >
    <a href="/" class="text-local_title">
      <h1 class="text-xl font-bold">Now Technology</h1>
    </a>

    <a
      href="/all_products"
      class="md:gap-2 gap-1 text-local_text_1 font-medium flex items-center"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="currentColor"
        ><path
          d="M200-80q-33 0-56.5-23.5T120-160v-451q-18-11-29-28.5T80-680v-120q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v120q0 23-11 40.5T840-611v451q0 33-23.5 56.5T760-80H200Zm0-520v440h560v-440H200Zm-40-80h640v-120H160v120Zm200 280h240v-80H360v80Zm120 20Z"
        ></path></svg
      >

      <p class="md:text-md text-sm">Productos</p>
    </a>
  </section>
</header>
